// -------------- wrapper -------------- //
@mixin w_full (){
    width: 100%;
}

@mixin w_fixed (){
    width: 1280px;
    margin: 0 auto;
}

// 範例：

// 滿版
.wrapper_full{
    @include w_full();
}

// 1280px
.wrapper_fixed{
    @include w_fixed();
}