// 規範
@import "mixin/mixin";
// 頁面
@import "pages/pages";

body{
    box-sizing: border-box;
    font-family:"Noto Sans TC";
    font-size: 16px;
    text-decoration: none;
    color: $black;
    background-image: url(../img/index/background.jpg);
}

a:not(.no-change-color) {
    text-decoration: none;
}

.wrapper_full{
    @include w_full();
}

// 1280px
.wrapper_fixed{
    @include w_fixed();
}