body{
  position: relative;
}

// -------------------- header -------------------- //
header{
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 gray;
  display: flex;
  height: 125px;
  @media screen and (max-width: 900px) {
    height: 90px;
  }
  @media screen and (max-width: 428px) {
    height: 80px;
  }

  a{
    flex-grow: 1;
    img{
      width: 304px;
      margin: 5% auto;
      @media screen and (max-width: 900px) {
        width: 200px;
      }
    }
  }

  nav{
    flex-grow: 10;
    margin: auto 0;
    @media screen and (max-width: 900px) {
      display: none;
    }

    ul{
        display: flex;
        justify-content: space-around;

        li{
          margin: 0 4.5%;
          @media screen and (max-width: 1280px) {
            margin: 0 2%;
          }
            a{
              display: block;
              font-size: 19px;
              padding: auto 2%;
              color: $blue;
              &:hover{
                color: $yellow
              }
            }
        }
    }
  }

  .icon{
    display: block;
    cursor: pointer;
    flex-grow: 3.5;
    margin: auto ;
    font-size: 30px;
    color: $blue;
    .fa-bars{
      display: none;
      @media screen and (max-width: 900px) {
        display: inline;
      }
    }

    @media screen and (max-width: 1280px) {
      text-align: right;
      margin-right: 30px;
    }
  }

  section{
    cursor: pointer;
    background-color: $blue;
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
    height: 162px;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px 0 gray;
    margin: auto;
    padding: 3% 5px;
    @media screen and (max-width: 1280px) {
      display: none;
    }

    .line{
      background-color: #ffffff;
      width: 70%;
      height: 1px;
      margin: 10% auto;
    }
  }
}
 // --- 菜單 --- //
.menu{
  margin-top: 100px;
  display: none;
  position: fixed;
  top: -10px;
  right: 0;
  background-color: #fff;
  text-align: center;
  color: $blue;
  width: 250px;
  height: 100%;
  z-index: 100;
  border-top: 1px solid #cdcdcd;
  @media screen and (max-width: 428px) {
    top: -20px;
  }
 // --- 菜單背景 --- //
  .menuToggle{
    li{
      border-bottom: 1px solid #cdcdcd;
      border-left: 1px solid #cdcdcd;

      a{
        display: inline-block;
        width: 250px;
        padding: 10% 15%;
        color: $blue;
        &:hover{
          background-color: $yellow;
          color: #ffffff;
        }
      }
    }
  }
}

// -------------------- banner -------------------- //

.banner{
   // --- 背景圖片 --- //
  background-image: url(../../img/index/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 20%;
  position: relative;
  min-height: 200px;
  
   // --- 左方文字 --- //
  .text{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8%;
    margin-left: 4%;
    z-index: 2;
    @media screen and (max-width: 900px) {
      margin-top: 6%;
    }
    @media screen and (max-width: 720px) {
      margin-top: 5%;
    }
    @media screen and (max-width: 550px) {
      margin-top: 4%;
    }

    h1{
      font-size: 3.5vw;
      color: #fff;
      font-weight: bold;
      text-shadow: 5px 5px 5px #777 ;
      margin-bottom: 10%;
      @media screen and (max-width: 1280px) {
        font-size: 40px;
      }
      @media screen and (max-width: 900px) {
        font-size: 36px;
      }
      @media screen and (max-width: 800px) {
        font-size: 34px;
      }
      @media screen and (max-width: 720px) {
        font-size: 24px;
      }
    }

    h5{
      font-size: 1.7vw;
      position: relative;
      color: $black;
      margin-bottom: 10%;
      font-weight: bold;
      @media screen and (max-width: 600px) {
        margin-bottom: 8%;
      }
    }

    a{
      position: absolute;
      display: flex;
      right: 0;
      @media screen and (max-width: 1050px) {
        right: 35px;
      }
      @media screen and (max-width: 800px) {
        right: 0;
      }
      @media screen and (max-width: 800px) {
        right: 10px;
      }

      p{
        color: $black;
        font-size: 1.3vw;
        line-height: 2px;
        margin-left: 5px;
        margin-top: 10px;
        border-bottom: 1px solid $black;
        @media screen and (max-width: 900px) {
          margin-top: 15%;
        }
        @media screen and (max-width: 550px) {
          margin-top: 12%;
        }
      }
      
      img{
        width: 25px;
        @media screen and (max-width: 550px) {
          width: 20px;
        }
      }
      
    }
  }
  
   // --- 小於720現色塊遮罩 --- //
  .w_block{
    display: none;
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    bottom: 0;
    left: 0%;
    background: hsla(0,0%,100%,.7);
    // filter: blur(7px);  
    @media screen and (max-width: 800px) {
      display: block;
    }
    @media screen and (max-width: 550px) {
      width: 45%;
    }
    @media screen and (max-width: 475px) {
      width: 50%;
    }
    @media screen and (max-width: 420px) {
      width: 55%;
    }
  }
}

// -------------------- 成果展示 -------------------- //

.Achievement{
  position: relative;
  overflow: hidden;
 // --- 背景色塊 --- //
  .bg{
    div{
      background-color: $yellow;
      width: 100%;
      padding: 5% 0;
      @media screen and (max-width: 720px) {
        padding: 7% 0;
      }
      @media screen and (max-width: 600px) {
        padding: 8% 0;
      }
      @media screen and (max-width: 428px) {
        padding: 12% 0;
      }
    }
  }

   // --- 內容 --- //
  .main{
    position: absolute;
    width: 100%;
    top:auto;
    left: auto;
    display: flex;
    flex-direction: column; 
    z-index: 2; 
     // --- 標題 --- //
    .main_top{
      display: flex;
      justify-content: center;
      
      margin: 3% 0 ;
      @media screen and (max-width: 720px) {
        // margin-top: 10px;
        // margin-bottom: 10px;
      }
      .line{
        width: 25%;
        height: 1px;
        background-color: #ffffff;
        margin: auto ;
        @media screen and (max-width:720px) {
          margin: 3% auto;
        }
        @media screen and (max-width:600px) {
          width: 21%;
        }
        @media screen and (max-width:428px) {
          width: 15%;
        }
      }
      .text{
        h1{
          text-align: center;
          font-size: 2.25em;
          color: #ffffff;
          @media screen and (max-width:1000px) {
            font-size: 28px;
          }
          @media screen and (max-width:900px) {
            font-size: 24px;
          }
          // @media screen and (max-width:720px) {
          //   margin: 3% auto 5%;
          // }
          // @media screen and (max-width:375px) {
          //   margin: 0% auto 5%;
          // }
        }
      }
    }

     // --- 主要內容 --- //
    .main_bottom{
      .main1{
        display: flex;
        justify-content: space-around;
        @media screen and (max-width:428px){
          display: none;
        }
        li{
          padding: 4.1% 4%;
          margin: auto;
          display: flex;
          flex-direction: column;
          border: 1px solid #ffffff;
          border-radius: 50%;
          justify-content: center;
          text-align: center;
          @media screen and (max-width:830px) {
            padding: 4%;
          }
          @media screen and (max-width:720px) {
            padding: 3%;
          }
          .line{
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            margin: 10% auto;
          }
          p{
            margin: 5px 4px;
            font-size: 1.5vw;
            color: #ffffff;
            @media screen and (max-width: 500px) {
              margin: 3px 0px;
            }
          }
        }
      }
      // --- 428px輪播 --- //
      .swiper-container{
        display: none;
        @media screen and (max-width:428px) {
          display: flex;
          justify-content: space-around;
          padding: 0 5%;
        }
        li{
          padding: 5% 4%;
          display: flex;
          flex-direction: column;
          border: 1px solid #ffffff;
          border-radius: 50%;
          text-align: center;
          @media screen and (max-width:375px) {
            padding: 4%;
          }
         
          .line{
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            margin: 10% auto;
          }
          p{
            margin: 3px 0;
            font-size: 1.5vw;
            color: #ffffff;
          }
        }
      }
    }
  }
}

// -------------------- 浪犬專區 -------------------- //

.stray{
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin: 5% auto;
  @media screen and (max-width:720px) {
    flex-direction: column;
  }
  .head{
    display: none;
    
    @media screen and (max-width:720px) {
      display: flex;
      margin-bottom: 5%;
    }
    h2{
      font-size: 1.5em;
      text-align: center;
    }

    .line{
      width: 30%;
      height: 1px;
      background-color: $black;
      margin: auto;
    }
  }
  // --- 左邊內容 --- // 
  .introduce{
    width: 50%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media screen and (max-width:720px) {
      order: 2;
      margin: 5% auto 0;
      width: 100%;
    }
    .head{
      display: flex;
      @media screen and (max-width:720px) {
        display: none;
      }
      .line{
        width: 10vw;
        height: 1px;
        background-color: $black;
        margin: auto;
       
      }
      h2{
        font-size: 2.25em;
        text-align: center;
        @media screen and (max-width:1000px) {
          font-size: 28px;
        }
        @media screen and (max-width:900px) {
          font-size: 24px;
        }
      }
      @media screen and (max-width:1280px) {
        margin-bottom: 5%;
      }
      @media screen and (max-width:850px) {
        margin-bottom: 2%;
      }
    }

    .body{
      display: flex;
      flex-direction: column;
      // margin: 0 10%;
      justify-content: center;
      .top{
        width: 100%;
        display: flex;
        padding: 0 auto;
        justify-content: center;
        @media screen and (max-width:720px) {
          justify-content: start;
          margin-left: 10%;
        }
        h4{
          display: block;
          font-size: 1.875em;
          @media screen and (max-width:1000px) {
            font-size: 24px;
          }
          @media screen and (max-width:850px) {
            font-size: 20px;
          }
          // @media screen and (max-width:650px) {
          //   font-size: 18px;
          // }
        }
        .line{
          width: 15vw;
          height: 1px;
          background-color: $black;
          margin: auto 0;
          margin-left: 5%;
          @media screen and (max-width:720px) {
            width: 40%;
            margin-left: 3%;
          }
        }
      }
      p{
        width: 58%;
        margin: 5% auto 0;
        line-height: 1.5;
        font-size: 1.25em;
        @media screen and (max-width:1280px) {
          font-size: 1.7vw;
        }
        @media screen and (max-width:900px) {
          width: 70%;
        }
        
        @media screen and (max-width:720px) {
          width: 60%;
          font-size: 1em;
          margin-bottom: 5%;
        }
        @media screen and (max-width:428px) {
          font-size: 14px;
        }
      }
      
    }
    .bottom{
      display: flex;
      justify-content: space-around;
      margin: 0 15%;
      .arrow{
        i{
          color: $black;
          border: 2px solid $black;
          padding: 5px 6px;
          border-radius: 50%;
          cursor: pointer;
          &:hover{
            color: white;
            background-color: #b3b3b3;
            border: 2px solid white;
          }
          // @media screen and (max-width:900px) {
          //  font-size: 10px;
          }
        }
      }
      a{
        display: flex;
  
        p{
          color: $black;
          font-size: 1.1em;
          line-height: 2px;
          margin-left: 5px;
          margin-top: 15px;
          border-bottom: 1px solid $black;
          // @media screen and (max-width: 720px) {
          //   font-size: 15px;
          //   margin-top: 10px;
          //   margin-bottom: 5px;
          // }
        }
        
        img{
          width: 30px;
          @media screen and (max-width: 720px) {
            width: 25px;
            height: 25px;
            margin-top: 5px;
          }
        }
      }
    }
  }
  // --- 右邊照片 --- //
    .picture{
      width: 50%;
      display: block;
      @media screen and (max-width:720px) {
      display: flex;
      order: 1;
      margin: 0 auto;
      width: 80%;
      }
      img{
        display: block;
        width: 100%;
        margin: auto;
      }
    }

// -------------------- 守護浪犬 -------------------- //

.guard{
  .bg{
    svg{
      display: block;
      transform: rotate(180deg);
    }
    div{
      width: 100%;
      padding: 5% 0;
      background-color: $yellow;
    }
  }
}



// -------------------- footer -------------------- //

footer{
  display: flex;
  flex-direction: column;

  .main{
    width: 100%;
    height: 175px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    @media screen and (max-width: 900px) {
      height: 150px;
    }
    @media screen and (max-width: 428px) {
      height: 110px;
      flex-direction: column;
    }

    img{
      width: 78px;
      height: 123px;
      margin: auto 0;
      @media screen and (max-width: 900px) {
        width: 65px;
        height: 103px;
        margin: auto 15px;
      }
      @media screen and (max-width: 428px) {
        display: none;
      }
    }

    .text{
      width: 339px;
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto 0;
      @media screen and (max-width: 900px){
        width: 280px;
      }
      @media screen and (max-width: 720px){
        display: none;
      }
      
      li{
        margin: 5px;
        @media screen and (max-width: 900px){
          font-size: 14px;
        }
      }
    }

    .line{
      width: 1px;
      height: 75%;
      background-color:$black;
      margin: auto 0;
      @media screen and (max-width: 720px){
        display: none;
      }
    }

    .icon{
      display: flex;
      text-align: center;
      margin: auto 0;

      li{
        margin: 15px;
        @media screen and (max-width: 900px) {
          margin: 5px;
        }
        @media screen and (max-width: 720px){
          margin: 0 15px;
        }
        @media screen and (max-width: 428px) {
         margin: 15px auto;
        }
        
        a{
          color: $blue;

          i{
            margin-bottom: 5px;
            font-size: 40px;
            @media screen and (max-width: 900px) {
              font-size: 35px;
            }
          }

          p{
            @media screen and (max-width: 900px) {
              font-size: 16px;
            }
            @media screen and (max-width: 720px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .declared{
    padding: 5px;
    height: 40px;
    background-color: $blue;
    @media screen and (max-width: 900px){
      height: 40px;
    }
    
    h5{
      font-size: 20px;
      margin: 5px auto;
      color: #ffffff;
      text-align: center;
      
      @media screen and (max-width: 428px){
        font-size: 16px;
        margin: 7px auto;
      }
      
    }
  }
}

