body{
  position: relative;
}

header{
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 gray;
  display: flex;
  height: 125px;
  @media screen and (max-width: 900px) {
    height: 90px;
  }
  @media screen and (max-width: 428px) {
    height: 80px;
  }

  a{
    flex-grow: 1;
    img{
      width: 304px;
      margin: 5% auto;
      @media screen and (max-width: 900px) {
        width: 200px;
      }
    }
  }

  nav{
    flex-grow: 10;
    margin: auto 0;
    @media screen and (max-width: 900px) {
      display: none;
    }

    ul{
        display: flex;
        justify-content: space-around;

        li{
          margin: 0 4.5%;
          @media screen and (max-width: 1280px) {
            margin: 0 2%;
          }
            a{
              display: block;
              font-size: 19px;
              padding: auto 2%;
              color: $blue;
              &:hover{
                color: $yellow
              }
            }
        }
    }
  }

  .icon{
    display: block;
    cursor: pointer;
    flex-grow: 3.5;
    margin: auto ;
    font-size: 30px;
    color: $blue;
    .fa-bars{
      display: none;
      @media screen and (max-width: 900px) {
        display: inline;
      }
    }

    @media screen and (max-width: 1280px) {
      text-align: right;
      margin-right: 30px;
    }
  }

  section{
    cursor: pointer;
    background-color: $blue;
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
    height: 162px;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px 0 gray;
    margin: auto;
    padding: 3% 5px;
    @media screen and (max-width: 1280px) {
      display: none;
    }

    .line{
      background-color: #ffffff;
      width: 70%;
      height: 1px;
      margin: 10% auto;
    }
  }
}

.menu{
  margin-top: 100px;
  display: none;
  position: fixed;
  top: -9px;
  right: 0;
  background-color: #fff;
  text-align: center;
  color: $blue;
  width: 250px;
  height: 100%;
  z-index: 100;
  @media screen and (max-width: 428px) {
    top: -19px;
  }

  .menuToggle{
    li{
      border-bottom: 1px solid #cdcdcd;
      border-left: 1px solid #cdcdcd;

      a{
        display: inline-block;
        width: 250px;
        padding: 10% 15%;
        color: $blue;
        &:hover{
          background-color: $yellow;
          color: #ffffff;
        }
      }
    }
  }
}






// ------------------- footer ------------------- //

footer{
  display: flex;
  flex-direction: column;

  .main{
    width: 100%;
    height: 175px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    @media screen and (max-width: 900px) {
      height: 150px;
    }
    @media screen and (max-width: 428px) {
      height: 110px;
      flex-direction: column;
    }

    img{
      width: 78px;
      height: 123px;
      margin: auto 0;
      @media screen and (max-width: 900px) {
        width: 65px;
        height: 103px;
        margin: auto 15px;
      }
      @media screen and (max-width: 428px) {
        display: none;
      }
    }

    .text{
      width: 339px;
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto 0;
      @media screen and (max-width: 900px){
        width: 280px;
      }
      @media screen and (max-width: 720px){
        display: none;
      }
      
      li{
        margin: 5px;
        @media screen and (max-width: 900px){
          font-size: 14px;
        }
      }
    }

    .line{
      width: 1px;
      height: 75%;
      background-color:$black;
      margin: auto 0;
      @media screen and (max-width: 720px){
        display: none;
      }
    }

    .icon{
      display: flex;
      text-align: center;
      margin: auto 0;

      li{
        margin: 15px;
        @media screen and (max-width: 900px) {
          margin: 5px;
        }
        @media screen and (max-width: 720px){
          margin: 0 15px;
        }
        @media screen and (max-width: 428px) {
         margin: 15px auto;
        }
        
        a{
          color: $blue;

          i{
            margin-bottom: 5px;
            font-size: 40px;
            @media screen and (max-width: 900px) {
              font-size: 35px;
            }
          }

          p{
            @media screen and (max-width: 900px) {
              font-size: 16px;
            }
            @media screen and (max-width: 720px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .declared{
    padding: 5px;
    height: 40px;
    background-color: $blue;
    @media screen and (max-width: 900px){
      height: 40px;
    }
    
    h5{
      font-size: 20px;
      margin: 5px auto;
      color: #ffffff;
      text-align: center;
      
      @media screen and (max-width: 428px){
        font-size: 16px;
        margin: 7px auto;
      }
      
    }
  }
}

