$blue:#0073B4;
$yellow:#FFBA45;
$black: #393328;


$color:(
    'blue':#0073B4,
    'yellow':#FFBA45,
    'black' : #393328
);

$bgc: (
    'blue':#0073B4,
    'yellow':#FFBA45,
    'black' : #393328
)

